<div class="container">
  <h2>{{blog.name}}</h2>
  <p>Posted on {{format_date blog.created_at}} by {{blog.user.name}}</p>
  <p>{{blog.description}}</p>

  <hr>

  {{#if blog.comments.length}}
    <h3>Comments:</h3>
    <ul>
      {{#each blog.comments}}
        <li>
          <p class="comments">{{commentText}}</p>
          <p>By: {{user.name}}</p>
          <p>Posted on {{ created_at}}</p>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No comments available yet.</p>
  {{/if}}

  <hr>

  <h3>Add a Comment:</h3>
  <form id="comment-form">
  <textarea id="comment-text" rows="4" cols="50"></textarea>
  <button class="button" id="{{blog.id}}"type="submit">Submit Comment</button>
</form>
</div>

<script src="/js/comment.js"></script>
