<div class="container">
  {{#if blogs.length}}
    <h3>Your Blog Posts:</h3>
    <ul>
      {{#each blogs}}
        <li>
          <a href="/blog/{{id}}">{{name}}</a>
          <p>Posted on {{created_at}}</p>
          <a class="btn edit-button" href = "/dashboard/edit/{{id}}" id="{{id}}"><button>Edit</button></a>
          <button class="delete-button" id="{{id}}">Delete</button>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No blog posts available yet.</p>
  {{/if}}

  <a href="/dashboard/newblog" class="btn btn-primary"><button>New Post</button></a>
</div>

<script src="/js/delete.js"></script>
